h1 {
    color:saddlebrown;
    font-size: 50px;
    text-align: center;
}
body {
    background-color: skyblue;
}
a {

}
h2 {
    font-family: 'Gill Sans', sans-serif;
}
content {
    margin: 100px
}
teal-links {

}